@font-face {
  font-family: 'KOHIBOLD';
  font-weight: 50;
  src: url('./fonts/KOHINanum_Bold.ttf');
}

@font-face {
  font-family: 'KOHILIGHT';
  font-weight: 50;
  src: url('./fonts/KOHINanum_Light.ttf');
}

@font-face {
  font-family: 'Hyemin_Bold';
  /* font-weight: 100; */
  src: url('./fonts/IM_Hyemin-Bold.ttf');
}

@font-face {
  font-family: 'Hyemin_Regular';
  font-weight: 50;
  src: url('./fonts/IM_Hyemin-Regular.ttf');
}
